---
import Icon from '../lib/@ui/Icon'
import Text from '../lib/@ui/typography/Text'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar'
import categories from '../content/articles/_categories'
import Heading from '../lib/@ui/typography/Heading'
import { generateUrl } from './api/og.png'
import Footer from '../components/Footer.astro'
import ToggleFAB from '../components/ToggleFAB'
import {getEntryBySlug} from 'astro:content'
import typography from '../lib/@ui/typography'
import PageHeader from '../components/PageHeader.astro'

export const prerender = true

const title = `A little about me`
const description = `My bio, some handy links, work history, and more`
const ogImageUrl = generateUrl({ title })
const {render} = await getEntryBySlug('pages', 'about')
const {Content} = await render()
---
<Layout 
  title={title} 
  description={description}
  graph={{
    og: {
      type: 'profile',
      title: title,
      site_name: Astro.site!.origin,
      description: description,
      url: Astro.url.toString(),
      image: ogImageUrl.toString()
    }
  }}
>
  <div slot="sidebar" class="flex flex-col gap-2">
    <Sidebar.Header>
      <a href="/">
        <Heading as="h1" size={3}>
          <Text gradient="warning" as="span">Chris D. Macrae</Text>
        </Heading>
      </a>
    </Sidebar.Header>
    <Text color='muted'>
      <strong>More about me</strong>
    </Text>
  </div>

  <PageHeader>
    A little about me
  </PageHeader>

  <div class="flex flex-col gap-4 py-10 md:py-20 m-auto max-w-prose">
    <Content components={typography} />
  </div>

  <Footer />
</Layout>
