---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../layouts/Sidebar";
import DotGrid from "../components/DotGrid";
import Card from "../components/Card";
import Heading from "../components/typography/Heading";
import Text from "../components/typography/Text";
import ToggleFAB from "../components/ToggleFAB";
import { Picture } from "@astrojs/image/components";
import {
  IconBrandApple,
  IconBrandMastercard,
  IconBuildingBank,
  IconNews,
  IconDisc,
  IconDots,
  IconCode,
  IconBoxAlignBottomLeft,
  IconBoxModel2,
  IconSchema
} from "@tabler/icons";
import type { Theme } from "../components/hooks/useTheme";
import Gem from '../components/Gem'
import TabBar from "../layouts/Tabbar";

const theme = Astro.cookies.get("theme").value as Theme | undefined;
---

<Layout title="Welcome to Astro.">
  <TabBar.Layout sm>
    <TabBar client:load />
    <Sidebar.Layout>
      <Sidebar>
        <Heading as="h1" size={3}>
          <Text gradient="warning" as="span">Chris D. Macrae</Text>
        </Heading>
        <Sidebar.Link href="/engineering-management">
          <IconCode />
          Engineering Management
        </Sidebar.Link>
        <Sidebar.Link href="/design-management">
          <IconBoxAlignBottomLeft />
          Design Management
        </Sidebar.Link>
        <Sidebar.Link href="#">
          <IconBoxModel2 />
          Web Development
        </Sidebar.Link>
        <Sidebar.Link href="#">
          <IconSchema />
          Systems Thinking
        </Sidebar.Link>
        <div class="mt-auto flex flex-col gap-4">
          <Card>
            <div class="inline-block mr-2">
              <span class="relative flex h-3 w-3">
                <span
                  class="motion-safe:animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
                ></span>
                <span
                  class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
                ></span>
              </span>
            </div>
            <Text as="span">
              <strong>I'm available</strong>
            </Text>
            <Text>
              I'm currently available for freelance work. <a href="/contact"
                >Get in touch</a>
            </Text>
          </Card>
          <Sidebar.Link href="#">More about Chris</Sidebar.Link>
        </div>
      </Sidebar>
      <Sidebar.Pane>
        <div class="w-full">
          <DotGrid size="screen">
            <div class="w-full flex flex-row justify-end pb-4 -mt-10">
              <ToggleFAB theme={theme} client:idle />
            </div>
            <div
              class="flex flex-col items-center justify-center gap-6 lg:py-[1.5rem]"
            >
              <div class="flex flex-col items-center text-center gap-2 lg:gap-6">
                <Heading as="h1">
                  Learn about <Text as="span" gradient="primary">
                    engineering
                  </Text>,
                  <Text as="span" gradient="success">design</Text>,
                  <Text as="span" gradient="info">web development</Text>, and much
                  more.
                </Heading>
                <div class="flex flex-col items-center gap-2">
                  <Text color="muted">
                    Hi 👋, my name is Chris and I'm a fullstack engineer and
                    designer. This site is all about sharing what I've learned.
                  </Text>
                </div>
              </div>
              <Text><strong>What do you want to learn?</strong></Text>
              <div class="flex flex-row items-center justify-center md:-mx-[6rem]">
                <div
                  class="flex flex-row overflow-scroll w-full max-w-[100vw] md:max-w-[calc(100vw-18rem)]"
                >
                  <div class="w-[min-content] flex flex-row gap-2 px-4">
                    <Gem
                      Icon={IconCode}
                      label="Engineering Management"
                      color='primary'
                    />
                    <Gem
                      Icon={IconBoxAlignBottomLeft}
                      label="Design Management"
                      color='success'
                    />
                    <Gem
                      Icon={IconBoxModel2}
                      label="Web Development"
                      color='info'
                    />
                    <Gem
                      Icon={IconSchema}
                      label="Systems Thinking"
                      color='warning'
                    />
                  </div>
                </div>
              </div>
            </div>
            <div />
          </DotGrid>

          <div
            class="m-auto max-w-[60rem] flex flex-col items-center lg:flex-row gap-6 lg:py-[7rem]"
          >
            <Picture
              src="/images/me.jpg"
              role="presentation"
              alt=""
              widths={[400, 500, 600, 700, 800, 900, 1000]}
              sizes="100vw, (min-width: 768px) 500px"
              aspectRatio="3:4"
              class="hidden lg:block lg:max-w-sm xl:max-w-md rounded-md overflow-hidden shadow-md"
            />
            <Picture
              src="/images/me.jpg"
              role="presentation"
              alt=""
              widths={[400, 500, 600, 700, 800, 900, 1000]}
              sizes="100vw"
              aspectRatio="16:9"
              class="box-content block lg:hidden w-[calc(100%+5rem)] max-w-[calc(100%+2.5rem)] -mx-5"
            />
            <div class="flex flex-col gap-4">
              <Heading as="h2">
                Learn from <em><Text gradient="warning" as="span">who</Text></em>?
              </Heading>
              <Text>
                Hi again 👋. I'm Chris D. MacRae, a fullstack engineer and
                designer whose been working with tech for over <em>10 years</em>.
              </Text>
              <Text>
                <Text gradient="info" as="span">
                  <strong>Teaching and mentorship</strong>
                </Text> has always been my passion, but doing it 1:1 doesn't scale.
                Thus, in 2023 my goal is to use this site to start providing more mentorship,
                training, and tutorials as possible, to as wide an audience as I possibly
                can.
              </Text>
              <Text>
                I work at <a href="https://careguide.com" rel="noopener"
                  ><Text gradient="primary" as="span">
                    <strong>Careguide</strong>
                  </Text></a
                >
                as Lead Engineer, where I coach a team of 8 engineers and 2 designers.
              </Text>
              <Text>
                In my career I have had the privledge of working with
                <span class="inline-block"
                  ><IconBrandApple className="inline-block" /> Apple</span
                >,
                <IconBrandMastercard className="inline-block" /> Mastercard,
                <IconBuildingBank className="inline-block" /> Scotiabank,
                <IconNews className="inline-block" /> PostMedia, and many more.
              </Text>
              <Text>
                <IconDisc className="inline-block motion-safe:animate-spin" />
                I'm currently listening to:
                <IconDots className="inline-block animate-bounce" />
              </Text>
            </div>
          </div>
          <footer class="pt-8 pb-4">
            <Text color="muted">
              Copyleft &copy; {new Date().getFullYear()}
            </Text>
          </footer>
        </div>
      </Sidebar.Pane>
    </Sidebar.Layout>
  </TabBar.Layout>
</Layout>
