---
export interface Props {
  title: string
  description: string
  graph: any
}

const { title, description, graph } = Astro.props

function parseOGValue(key: string, values: Record<string, any>, parentKey?: string): Record<string, string>[] {
  const value = values[key]

  if (typeof value === 'object') {
    const pkey = parentKey === undefined ? key : parentKey

    return Object.keys(value).flatMap(key => parseOGValue(key, value, pkey))
  }

  return [{ 
    key: parentKey !== undefined ? `${parentKey}:${key}` : key, 
    value 
  }]
}
---
<title>{title} | chrisdmacrae.com</title>
<meta name="description" content={description} />
<meta property="og:image" content={graph.ogImageUrl}/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>