---
import WebVitals from '../components/vitals.astro'
import Search from "../components/Search";
import "./Layout.css"
import Sidebar from "./Sidebar";
import TabBar from "./Tabbar";
import { THEME_COOKIE } from "../components/hooks/useTheme";
import Seo from '../components/seo.astro';

export interface Props {
	title: string
  description: string
  tabs?: boolean
  graph: any
}

const { title, description, tabs = true, graph } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/api/favicon.ico?v=3" />
		<meta name="generator" content={Astro.generator} />
    <Seo
      title={title}
      description={description}
      graph={graph}
    />

    <link rel="stylesheet" href="/css/prism.css" />
    <slot name="stylesheets" />

    <script is:inline define:vars={{ THEME_COOKIE }}>
      const override = window.localStorage.getItem(THEME_COOKIE)
      const prefersDark = override === 'dark' || !override && window.matchMedia('(prefers-color-scheme: dark)').matches
      const root = document.documentElement

      if (prefersDark) {
        root.classList.add('dark')
      }
      else {
        root.classList.remove('dark')
      }
    </script>
    <slot name="scripts:head" />
	</head>
	<body class="antialiased">
    <TabBar.Layout sm={tabs} noBottomSpace={!tabs}>
      <Search client:idle />
      {tabs && <TabBar client:load />}
      <Sidebar.Layout>
        <Sidebar>
          <slot name="sidebar" />
          <Sidebar.Footer />
        </Sidebar>
        <Sidebar.Pane>
      		<slot />
        </Sidebar.Pane>
      </Sidebar.Layout>
    </TabBar.Layout>
    <WebVitals />
	</body>
</html>
